@model MVC_Assignment.Models.Contact
@{
    ViewBag.Title = "Delete";
}
<style>
    td {
        padding: 6px 12px;
    }

</style>
<h2>Delete Contact</h2>

<h4>Are you sure you want to delete this contact?</h4>

<table>
    
    <tr>
        <td>First Name:</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>@Model.Email</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <br />
    <input type="submit" value="Delete" />
    @Html.ActionLink("Cancel", "Index")
}
