
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<h2>@ViewBag.data</h2>

    @foreach(var item in Model)
                {
                    <p>@item</p>
                }
    <hr/>
    <p>@ViewBag.data1</p>
    <p>@ViewData["data2"]</p>*@

@foreach (var item in Model)
{
    <p>@item</p>
}
